header {
    margin-bottom: @spacebetween;

    @media @desktop {
        border: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        justify-content: space-around;
      
       


        @media @desktop {
            margin-top: @spacebetween;
            flex-direction: row;
            
        }
        a {
            text-decoration: none;
            line-height: 6rem;
            text-transform: uppercase;
            border: 5px;
        }
    }

}